<p><strong>What's the Epigenome?</strong></p>
<p>The genome is the complete collection of all DNA base pairs. It holds the instructions to manufacture all the proteins we might need. Almost every cell in your body contains a copy of the full genome. The <a href="https://www.genome.gov/about-genomics/fact-sheets/Epigenomics-Fact-Sheet">epigenome</a> is the collection of compounds that can turn parts of the genome on and off. This is what allows cells to differentiate. Some of these changes can be inherited during cell division. </p>
<p>There are <a href="https://www.genome.gov/about-genomics/fact-sheets/Epigenomics-Fact-Sheet">2 (I think?) methods the epigenome uses to mark the genome</a>: </p>
<ol>
<li>DNA methylation: Proteins attach methyl groups to DNA. <strong><em>What do methyl groups do?</em></strong></li>
<li>Histone modification: Histones are proteins that bind DNA into loops [p51]. Proteins can modify histones by attaching chemical tags to them. These tags will tell the cell whether or not to use the DNA that's packaged by the histone. </li>
</ol>
<p>The genome is to hardware what the epigenome is to software. </p>
<p>Sinclair compares the genome to digital information: it's made up of 4 base pairs and incredibly robust (DNA can survive in boiling water for hours and is recoverable from 40,000 year old Neanderthal remains) and compares the epigenome to analog information: it's complex and hard to copy. </p>
<p><strong>Epigenetic Noise Theory of Aging.</strong></p>
<p><strong><em>NEED A LOT MORE PROOF HERE</em></strong></p>
<p>Sinclair believes <em>aging is due to a loss of epigenetic information.</em></p>
<p>A popular theory of aging is that it's due to genetic mutations. The success of cloning efforts indicate this is false. If old cells lost important information, we shouldn't be able to create young cells by cloning them. A cloned animal should be born old. This was first attempted in 1958 when we replaced chromosomes in a frog egg with chromosomes from an adult frog and obtained tadpoles. So far, <a href="https://www.karger.com/Article/FullText/452444">cloned goats, dog, sheep, mice, cats, and pigs have been able to reach their normal lifespan</a>. This means the genetic mutations we acquire as we age probably isn't the cause of aging; somehow, all the information needed to create a young animal is present in the cells of an old one. </p>
<p><strong>Longevity Genes.</strong> </p>
<p>Sirtuins (a class of proteins) are an example of longevity genes. There are 7 in mammals: <em>SIRT1, SIRT6, SIRT7</em> control the epigenome and DNA repair, <em>SIRT3, SIRT4, SIRT5</em> control metabolism in the mitochondria, and <em>SIRT2</em> resides in the cytoplasm and controls cell division (p78). Yeast has 5 sirtuins. Sirtuins work by removing acetyl tags from histones and other proteins, turning genes on and off (p55). </p>
<p>Sirtuins seem to do what Gene B did in <em>M. superstes</em>: activating sirtuins in mice causes DNA repair, boosts memory, increases endurance, and helps mice stay thin (p53). </p>
<p><strong>Early Evidence.</strong> </p>
<p><strong>Calorie Restriction and Intermittent Fasting.</strong> </p>
<p><strong>Exercise.</strong></p>
<p><strong>Temperature.</strong></p>
<p><strong>NAD.</strong></p>
<p>Sirtuins evolved to require the molecule nicotinamide adenine dinucleotide, called NAD (p53).  </p>
<p><strong>Rapamycin.</strong></p>
<p><strong>Metformin.</strong></p>
<p><strong>Senescence.</strong></p>
<p><strong>Reversing Aging.</strong></p>
<p><strong>The Regimen.</strong></p>
<p><strong>Ethics.</strong> </p>
<p>A fair chunk of the book was spent persuading the reader that aging is worth attacking. I won't cover much of that here, except for the following argument for the importance of fighting aging. In the US, <a href="https://www.cdc.gov/heartdisease/facts.htm">23.4% of deaths in 2017 were caused by heart disease</a> and <a href="https://www.cancer.org/latest-news/facts-and-figures-2019.html">22% of deaths in 2016 were caused by cancer</a>. However, because as we age, the risk of contracting diseases increases exponentially, stopping all heart disease would increase the average lifespan by only 1.5 years while curing cancer would increase it by 2.1 years [p111] <strong><em>SOURCE?</em></strong>. Preventing our bodies from weakening is a prerequisite to any meaningful benefit from curing many diseases. </p>