<p>What if doing better than your previous failures isn't enough? </p>
<p>What if making a desperate effort, like your life was at stake, isn't enough?</p>
<p>What if the proble is impossible? Then shut up and do the impossible. </p>
<p>If there isn't a proof of impossibility, it's just that no one thinks there's a way to do it, and it's <em>not</em> impossible. </p>
<p>Step 1 is not saying "it's impossible" and running. "When there's a will to fail, obstacles can be found." </p>
<p>Now suppose you want to <strong>win</strong>, not just try. <em>To win.</em> </p>
<p>You could try, try again... but what if a <em>single failure isn't okay</em>? </p>
<p>Now you start falling for traps... </p>
<ul>
<li>stop yourself from just standing in front of the problem and <em>think</em> abou t how to beat it </li>
<li><em>never forget</em> that setting out to make an effort is fully distinct from setting out to <em>win</em> </li>
<li>truly deciding to win creates an unbearable tension in your mind between the impossibility of the task and the requirement to do it. </li>
<li>Do not flee from this tension! </li>
<li>one way of fleeing is to seize a solution, any solution, even if it sucks. <em>Don't do this</em>. </li>
<li>don't assume the universe is fair enough to grant you success if you try desperately enough. This isn't a movie. </li>
<li>don't trick yourself into losing sight of why it's an impossible task. That only means you'll arrive at a bad solution. .</li>
</ul>
<p>If you can state <em>exactly why</em> something is impossible, the solution is close. </p>
<p>The tension is from not knowing which will prevail: impossibility of the task or your requirement to solve it. </p>
<p>The certainty of uncertainty can itself be a relief so <em>reject it</em>! Or else it marks the end to desperation. </p>
<p>Reject all the cheap ways to win. Stare at the wall in front of you. Collect yourself. Then walk forward through concrete. </p>