body{
  background-color: #f7f7f7;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

h3{
  height:50px;
  margin: 0px auto;
}
.content{
  padding: 16px;
  margin-bottom: 1000px;
}

#myHeader{
  font-family: 'IBM Plex Serif', serif;
  font-size: 50px;
  text-align: center;
  height: 0px;
}

#topP{
  margin-top: 20%;
}

#bottomP{
  margin-bottom: 20%;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content{
  padding-top: 102px;
}

#warren{
  text-decoration: underline;
}

#plsScroll{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  opacity: .4;
  margin-bottom: 20%;
  margin-top: 8%;


}

p{
  font-family: 'Roboto', sans-serif;
  color: black;
}

a{
  color: black;
}

#p{
  margin-top: 20px;
}
