body{
  background-color: #f7f7f7;
}

h1{
  font-family: 'Open Sans', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
  color: black;
}

a{
  color: black;
}

#p{
  margin-top: 20px;
}

body{
  width: 60%
}
