/**
 * Headers - putting a reasonable size 
 */
h1 {
  @include relative-font-size(2.25)
}

h2 {
  @include relative-font-size(2);

  // @include media-query($on-laptop) {
  //   @include relative-font-size(1.75);
  // }
}

h3 {
  @include relative-font-size(1.75);

  // @include media-query($on-laptop) {
  //   @include relative-font-size(1.375);
  // }
}

h4 {
  @include relative-font-size(1.5);

  // @include media-query($on-laptop) {
  //   @include relative-font-size(1.125);
  // }
}

h5 {
  @include relative-font-size(1.3);

}

/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark; //Hella annoying top border
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Reading stuff
 */

#favorites {
  // background-color: darken(#DEFDE0, 5%);
  background-color: lighten(#B0E57C, 12%);
  padding: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 110%;
}

#now-reading {
  background-color: lighten(lightblue, 2%);
  padding: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 110%;
}

#finished {
  background-color: lighten(lightsalmon, 11%);
  visibility: 10%;
  padding: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 110%;
}

#anti-library {
  background-color: lighten(gold, 20%);
  padding: 14px;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 110%;
}

.reading-list > li {
  font-size: 105%;
  padding-bottom: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
//.active, .collapsible:hover {
//  background-color: #ccc;
//  content: 'Hello';
//}

/* Style the collapsible content. Note: hidden by default */
.note-content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #444;
}

.note-content > * {
    margin: 5px 10px;
}

.note-content > ol,ul {
    //list-style-position: inside;
    padding-left: 36px;
}


/**
 * Posts
 */

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}

// No bullets
.toc-entry {
  list-style-type: none;
  font-weight: normal;
  text-decoration: none;
}

.toc-entry > a:hover {
  text-decoration: underline;
}

// Title h1 is bold to distinguish from h2
.toc-h1 {
  font-weight: bold;
}

.writing-map > ul {
  margin-left: 0%;
}

// h2's have the same indentation as h1
.toc-h1 > ul {
  margin-left: 0%;
}

.toc-h2 > ul, .toc-h3 > ul, .toc-h4 > ul, .toc-h5 > ul {
  margin-left: 5%;
}

.writing {
  $content-width: 100vw;
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-left: 5%;
  margin-right: 5%;
  @extend .wrapper;
}

.writing-map {
  width: 22%;
  float: left;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20px;
  border-right: 1px solid lightgray;
  padding-top: 3%; 
  padding-right: 1%;
  left: 0px;
}

.writing-content {
  width: 70%;
  float: left;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 18px;
}

.writing-content > * {
  width: 70%;
}

.writing-annotations {
  position: absolute; 
  display: block;
  margin-top: -25px;
  right: 10%;
  width: 20%;
  color: #797D82;
  font-size: 90%;
}

.writing-annotations-spacer {
  float: right;
  width: 100px;
  height: 500px;
}

// Responsive layout 
@media screen and (max-width: 1500px) {
//  .writing-map {
//      display: none; 
//  }
  .writing-annotations {
      display: none;
  }
//  .writing-content {
//      width: 100%;
//  }
  .writing-content > * {
      width: 100%;
  }
  
}

/**
 * Bare
 */

.bare-content {
  $content-width: 100%;
  max-width: #{$content-width};
  // margin: 0px;
  @extend .wrapper;
}

/**
 * Learning
 */

#learning-title {
  padding-left: 10%;
  @include relative-font-size(8)
}

#left-margin {
  width: 20%;
  float: left;
}

#right-margin {
  width: 20%;
  float: right;
}

#learning-content {
  margin: auto;
  width: 60%;
}

#learning-content > * {
  box-sizing: border-box;
}

#learning-toc {
  border: 2px solid #bbb
}

#learning-content > h2 {
  // width: 50%;
  text-align: center;
  margin-bottom: 1%;
  margin: auto;
  // margin-left: 5%;
  // padding: 1%;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 0 -8px;
  width: 100%; 
  margin: auto;
}

.col-one {
  padding: 2%;
}

.col {
  float: left;
  width: 50%;
  padding: 2%;
}

.divider {
  width: 2px;
  margin: 6px 0;
  background: lightgray;

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  #left-margin { 
    width: 100%;
  }

  #right-margin {
    width: 100%;
  }

  #learning-content > * {
    width: 100%;
  }

  #learning-title {
    @include relative-font-size(4)
  }

  .row {
    display: block;
    width: 100%;
  }

  .col {
    width: 100%;
  }

  .divider {
    display: none;
  }
}
