---
layout: default
---

<div class="home">
  <!-- {%- if page.title -%} 
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%} -->

  {{ content }}

  {%- if page.display_projects -%}
    {%- if site.projects.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {% assign sorted = site.projects | sort: 'sequence' %}
        {%- for project in sorted -%}
        <li style="margin-bottom: 0; margin-top: 0">
          <!-- {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%} -->
          <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
          {%- assign projectmod = project.sequence | modulo: 2 -%}

          {%- if projectmod == 1 -%}
            <h3 style="text-align: left; padding-left: 10px;">
              <a class="post-link" href="{{ project.url | relative_url }}">
                {{ project.title | escape }}
              </a>
            </h3>
            {%- if project.description -%}
              <p style="text-align: left; padding-left: 10px;">{{ project.description }}</p>
            {%- endif -%}
          {%- else -%}
            <h3 style="text-align: right; padding-right: 30px;">
              <a class="post-link" href="{{ project.url | relative_url }}">
                {{ project.title | escape }}
              </a>
            </h3>
            {%- if project.description -%}
            <p style="text-align: right; padding-right: 30px;">{{ project.description }}</p>
            {%- endif -%}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
  {%- endif -%}

</div>
