<!-- Layout is not a branch of default! -->


<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" >

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <article class="writing">
          <div class="writing-map">
            <!-- {% toc %} only works for posts collection and {{ content | toc_only }} works for everything else. -->
            {% toc %} 
            {{ content | toc_only }}
          </div>  
          <div class="writing-content">
            <p class="post-meta">
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                  <!-- {{ page.date | date: date_format }} -->
                  <!-- Only works with posts and breaks for drafts I think. It's showing Oct 26, 2019 for drafts. -->
                  Last updated: {{ page.last_modified_at | date: date_format  }}
                </time>
                {%- if page.author -%}
                  • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                {%- endif -%}
            </p>
            {{ content }}
          </div>
        </article>
    </main>

    <!-- To render the footer properly with new page width -->
    <footer class="site-footer h-card">
        <data class="u-url" href="{{ "/" | relative_url }}"></data>
        <div class="writing">
          <div class="footer-col-wrapper">
            <div class="footer-col footer-col-2">
              <p>{{ site.description }} </p>
            </div>
          </div>
        </div>
      </footer>
      
  </body>

</html>
