<!-- Layout is not a branch of default! -->

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <article class="writing">
            <div class="writing-map">
              <p>This should persist during scrolling. Also shouldn't be visible on mobile view. </p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas scelerisque risus metus, at mattis sem dignissim nec. Proin porta fringilla gravida. Fusce vehicula libero gravida, porttitor neque vel, malesuada est. Etiam semper rhoncus augue vitae scelerisque. Suspendisse iaculis purus quis elit cursus, ut blandit nisl posuere. Mauris tempus viverra magna nec dictum. Aliquam hendrerit ipsum vel ullamcorper cursus. Donec gravida interdum nulla nec porttitor. Donec ultricies nunc tortor, nec cursus massa maximus non. Phasellus et lorem eget lacus vestibulum lacinia. Morbi tempus nisi augue, ac eleifend lacus hendrerit ac. Suspendisse potenti.
            </div>  
            <div class="writing-content">
                <p class="post-meta">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                      {{ page.date | date: date_format }}
                    </time>
                    {%- if page.author -%}
                      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
                    {%- endif -%}</p>
              
              {{ content }}
            </div>
            <div class="writing-annotations">
              Some huge for loop that gets annotations, counts them, displays them correctly using css inline maybe https://stackoverflow.com/questions/39305959/how-to-align-text-next-to-a-div-in-html-css and then changes text to superscript. 

            </div>
        </article>
    </main>

    <!-- To render the footer properly with new page width -->
    <footer class="site-footer h-card">
        <data class="u-url" href="{{ "/" | relative_url }}"></data>
        <div class="writing">
          <div class="footer-col-wrapper">
            <div class="footer-col footer-col-2">
              <p>{{ site.description }} </p>
            </div>
          </div>
        </div>
      </footer>
      
  </body>

</html>
